apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ current.app_name }}-cicd
  namespace: {{ current.app_name }}
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  name: {{ current.app_name }}-cicd
  namespace: {{ current.app_name }}
rules:
- apiGroups: [""]
  resources:
  - pods
  - services
  - endpoints
  - pods/portforward
  - pods/log
  - pods/exec
  - namespaces
  - configmaps
  - persistentvolumeclaims
  verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]
- apiGroups: ["extensions"]
  resources:
  - replicasets
  verbs: ["get", "list"]
- apiGroups: ["extensions", "apps"]
  resources:
  - deployments
  - ingresses
  - statefulsets
  verbs: ["get", "list", "watch", "create", "patch", "delete"]
- apiGroups: ["monitoring.coreos.com"]
  resources:
  - servicemonitors
  verbs: ["get", "list", "watch", "create", "patch", "delete"]
- apiGroups: ["autoscaling"]
  resources:
  - horizontalpodautoscalers
  verbs: ["get", "list", "watch", "create", "patch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: {{ current.app_name }}-cicd
  namespace: {{ current.app_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ current.app_name }}-cicd
subjects:
- kind: ServiceAccount
  name: {{ current.app_name }}-cicd
  namespace: {{ current.app_name }}